@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "custom.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.fontRoboto{
  font-family: "Roboto Slab", serif;
}

.card-sidBare{
  height: calc(100vh - 90px);
};
body {
  background: #eeeded;
  min-height: 100vh;
}
.bannier {
  position: relative;
  width: 100%;
  height: 35vh;
  border-radius: 5px;
  background-image: url('http://localhost:8888/asset/images/tigre.jpg');
  background-size: cover;
  background-position: center;
  color: #eeeded;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65); /* Couleur noire avec une opacité de 0.5 */
  }
  .cardZoo{
    z-index: 1;
    background: transparent;
    border: none;
    padding: 11px;

  }
  p {

  }
}
